.spm-container {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.spm-headers-wrapper {
  display: flex;
  padding: 0 1rem;
}

.spm-header {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  color: #dd6d1f;
  text-align: center;
}

.spm-player-row {
  display: flex;
}

.spm-player-detail {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.spm-select-icon {
  width: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}
